.sad {
    background-color: blue;
}

.happy {
    background-color: green;
}

.stressed {
    background-color: orange;
}

.angry {
    background-color: orangered;
}

.calm {
    background-color: turquoise;
}

.ill {
    background-color: gray;
}

.energetic {
    background-color: pink;
}